<!DOCTYPE html>
<html lang="zh-TW">

<head>
    <meta charset="UTF-8">
    <title>食物管理</title>

    <!-- 這是banner的CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">
    <link rel="stylesheet" href="css/banner-new.css">

    <!-- 這是表格的CSS -->
    <link rel="stylesheet" href="css/food-style.css">
    <link rel="stylesheet" href="css/foodDetail-style.css">
    <link rel="stylesheet" href="css/addFood.css">
    <!-- 這是按鍵的CSS -->
    <link rel="stylesheet"
          href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200"/>
    <!-- 這是過期通知的CSS -->
    <link rel="stylesheet" href="css/results-window.css">
    <!-- 引入axios套件，用來透過HTTP協定在網頁內呼叫後端的API -->
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>

    <!-- 引入Vue.js -->
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>

    <!-- 引入Element UI介面庫-->
    <!-- Import style -->
    <link rel="stylesheet" href="//unpkg.com/element-plus/dist/index.css"/>
    <!-- Import Vue 3 -->
    <script src="//unpkg.com/vue@3"></script>
    <!-- Import component library -->
    <script src="//unpkg.com/element-plus"></script>
    <script src="//unpkg.com/@element-plus/icons-vue"></script>

    <link rel="stylesheet" href="css/demo-remote-select.css"/>
</head>

<body id="app" style="padding-top: 0; padding-left: 0; padding-right: 0;">

<!-- 橫式選單 -->
<header class="header" role="banner">
    <div class="d-lg-flex half"><a href="/" class="home-btn" style="text-decoration: none;">
        <div class="bg order-1 order-md-2" style="background-image: url('images/bg_1.jpg');"></div>
        <div class="contents order-2 order-md-1">
            <div class="container">
                <div class="row align-items-center justify-content-center">
                    <div class="col-md-7" style="margin-left: 240px;">
                        <h3><strong>Squirrel Factory</strong></h3>
                        <h3><strong>松鼠儲藏室</strong></h3>
                        <p class="mb-4" style="font-size: smaller; color: gray">協助您管理家裡食物庫存的小幫手</p>
                    </div>
                </div>
            </div>
        </div>
    </a></div>
    <div class="bannercontainer">
        <nav>
            <ul>
                <li><a href="/">登入畫面</a></li>
                <li class="active"><a href="/foods.html">食物庫存</a></li>
                <li><a href="/fooddetaillist.html">營養資訊</a></li>
                <li><a href="/tobuy.html">採購清單</a></li>
            </ul>
        </nav>
    </div>
</header>

<!-- 搜尋列start -->
<form style="margin-left: 300px; margin-top: 20px;" v-on:submit.prevent="onSearch" autocomplete="off">
    <label for="search">Search </label>
    <input id="search" type="search" v-model="keyword">
    <span class="caret"></span>
</form>
<!-- 搜尋列end -->

<div class="popup" v-if="showPopup">
    <h2>過期食物通知</h2>
    <ul>
        <li v-for="food in expiredFoods">
            <strong>{{ food.name }}</strong> - 過期日: {{ food.expDate }}
        </li>
    </ul>
    <button @click="closePopup">Close</button>
</div>
<!-- Results Window End -->

<!-- 新增按鈕 -->
<div class="container">
    <el-button type="warning" class="btn" @click="showAddFoodModal = true">新增</el-button>
    <!-- 表格start -->
    <table>
        <thead>
        <tr>
            <th>名稱</th>
            <th>類別</th>
            <th>採購日</th>
            <th style="display: flex; height: 60px; align-items: center; justify-content: center;"
                @click="onChangeExpDateMode">
                到期日
                <div :class="[expDateArrowMode === 0 ? '' : 'arrow-down']">⯅</div>
            <th>數量</th>
            <th>變更</th>
        </tr>
        <thead>
        <tbody>
        <tr v-for="(item, index) in foods">
            <td @click="onShowFoodDetail(item.foodId)" class="can-click">{{ item.name }}</td>
            <td>{{ item.category }}</td>
            <td>
                <div v-if="!showEditMode[index]">{{ item.buyDate }}</div>
                <el-date-picker v-else v-model="foods[index].buyDate" type="date" placeholder="Pick a day"
                                :size="size"/>
            </td>
            <td>
                <div v-if="!showEditMode[index]">{{ item.expDate }}</div>
                <el-date-picker v-else v-model="foods[index].expDate" type="date=" placeholder="Pick a day"
                                :size="size"/>
            </td>
            <td>
                <div v-if="!showEditMode[index]">{{ item.quantity }}</div>
                <el-input-number v-else v-model="foods[index].quantity" @change="handleChange"/>
            </td>
            <td>
              <span v-if="!showEditMode[index]" class="material-symbols-outlined" @click="showEditMode[index] = true">
                edit_note
              </span>
                <span @click="onDelete(item.stockId)" v-if="!showEditMode[index]" class="material-symbols-outlined">
                delete
              </span>
                <span v-if="showEditMode[index]" class="material-symbols-outlined" @click="onUpdate(index)">
                確定
              </span>
                <span v-if="showEditMode[index]" class="material-symbols-outlined" @click="showEditMode[index] = false">
                取消
              </span>
            </td>
        </tr>
        </tbody>
    </table>
    <!-- 表格end -->

    <!-- 對話盒的淡黑色背景 -->
    <div v-if="showFoodDetail" class="mask"></div>

    <!-- 這是對話視窗的開始 -->
    <div v-if="showFoodDetail" class="table">
        <h2 class="heading">
            {{ foodDetail.name }}
        </h2>
        <div class="blockTitle">
            <p>類別
                <span class="price">{{ foodDetail.category }}
            <sub></sub>
          </span>
            <ul class="options">
                <li>(每百克食物含量)</li>
            </ul>
            </p>
        </div>
        <div class="block">
            <p>熱量
                <span class="price">{{ foodDetail.calories}}
            <sub>千卡</sub>
          </span>
            <ul class="options">
                <li>根據衛服部國民健康署建議，體重正常者，每日熱量需求為體重(kg) * 30大卡(輕度活動) / 35大卡(中度活動) / 40大卡(重度活動)。</li>
            </ul>
            </p>
        </div>
        <div class="block">
            <p>蛋白質
                <span class="price">{{ foodDetail.protein }}
            <sub>克</sub>
          </span>
            <ul class="options">
                <li>指粗蛋白crude protein。</li>
            </ul>
            </p>
        </div>
        <div class="block">
            <p>飽和脂肪
                <span class="price">{{ foodDetail.saturatedFat }}
            <sub>克</sub>
          </span>
            <ul class="options">
                <li>一般認為飲食中比例較高的飽和脂肪酸會增加心血管疾病和中風的風險，但是近年來有越來越多研究顯示，飽和脂肪酸有降低體脂和心血管疾病發病率的作用。</li>
            </ul>
            </p>
        </div>
        <div class="block">
            <p>總碳水化合物
                <span class="price">{{ foodDetail.totalCarbohydrates }}
            <sub>克</sub>
          </span>
            <ul class="options">
                <li>碳水化合物即醣類。醣類的眾多衍生物與免疫系統、預防疾病、血液凝固和生長等有極大的關聯。</li>
            </ul>
            </p>
        </div>
        <div class="block">
            <p>膳食纖維
                <span class="price">{{ foodDetail.dietaryFiber }}
            <sub>克</sub>
          </span>
            <ul class="options">
                <li>根據世界衛生組織建議，每人每天攝入25g-35g膳食纖維，有助於預防心血管疾病、糖尿病及其他一系列健康問題。</li>
            </ul>

            </p>
        </div>
        <button class="btn">
            <p @click="showFoodDetail = false">關閉</p>
        </button>
    </div>
    <!-- 這是對話視窗的結束 -->

    <!-- 新增食物的對話盒開始-->
    <div class="form" v-if="showAddFoodModal">
        <div class="title">新增食物資料</div>

        <div class="input-container ic2">
            <input id="foodname" class="input" type="text" v-model="newFoodData.name" placeholder=" "/>
            <div class="cut"></div>
            <label for="foodname" class="placeholder">食物名稱</label>
        </div>
        <div class="input-container ic2">
            <span class="add-food-title">種類&nbsp;&nbsp;</span>
            <el-select v-model="newFoodData.category" class="m-2" placeholder="Select" size="large">
                <el-option v-for="item in options" :key="item.value" :label="item.label" :value="item.value"/>
            </el-select>
        </div>

        <div class="input-container ic2">
            <span class="add-food-title">採購日&nbsp;&nbsp;</span>
            <el-date-picker v-model="newFoodData.buyDate" type="date" placeholder="Pick a day" :size="size"/>
        </div>

        <div class="input-container ic2">
            <span class="add-food-title">到期日&nbsp;&nbsp;</span>
            <el-date-picker v-model="newFoodData.expDate" type="date" placeholder="Pick a day" :size="size"/>
        </div>

        <div class="input-container ic2">
            <span class="add-food-title">數量&nbsp;&nbsp;</span>
            <input id="quantity" class="input" type="number" v-model="newFoodData.quantity" placeholder=" "/>
            <!-- <label for="quantity" class="placeholder"></label> -->
        <!-- <div class="input-container ic2">
            <input id="email" class="input" type="number" v-model="newFoodData.quantity" placeholder=" "/>
            <div class="cut cut-short"></div>
            <label for="email" class="placeholder">數量</label> -->
        </div>
        <div class="btn-group">
            <button type="text" class="submit" @click="showAddFoodModal = false">取消</button>
            <button type="text" class="submit" @click="onAdd">送出</button>
        </div>
    </div>
    <!-- 新增食物的對話盒結束 -->

    <!-- @size-change事件: 重新打API要資料，把目前頁數設定回第一頁-->
    <el-pagination background layout="prev, pager, next, sizes"
                   :total="total"
                   :page-sizes="[12, 24, 50, 100]"
                   style="justify-content: center;"
                   @size-change="onSizeChange"
                   @current-change="onCurrentChange"
                   @prev-click="onPrevClick"
                   @next-click="onNextClick"
                   v-model:current-page="currentPage"
                   v-model:page-size="pageSize"/>
    <!-- @size-change事件-->

    </div>
</body>

<script>
    // Vue初始化
    const {createApp} = Vue

    createApp({
        data() {
            // 網頁要使用的變數放這裡
            return {
                message: 'Hello Vue!',
                foods: [],
                foodDetail: {},
                showFoodDetail: false,
                showAddFoodModal: false,
                nameoptions: [],
                // loading: false,
                // showResult: false,

                //分頁使用的變數
                currentPage: 1,  // 目前在哪一頁
                pageSize: 12,
                total: 0,
                expDateArrowMode: 0, // 0=升序, 1=降序

                keyword: '',
                showPopup: false, // Add this variable to control popup visibility
                expiredFoods: [],

                // 使用者的選擇種類會存在這邊
                //categoryValue: '種類',
                options: [
                    {
                        value: '水果類',
                        label: '水果類',
                    },
                    {
                        value: '蔬菜類',
                        label: '蔬菜類',
                    },
                    {
                        value: '豆類',
                        label: '豆類',
                    },
                    {
                        value: '菇類',
                        label: '菇類',
                    },
                    {
                        value: '堅果及種子類',
                        label: '堅果及種子類',
                    },
                    {
                        value: '穀物類',
                        label: '穀物類',
                    },
                    {
                        value: '油脂類',
                        label: '油脂類',
                    },
                    {
                        value: '藻類',
                        label: '藻類',
                    },
                    {
                        value: '乳品類',
                        label: '乳品類',
                    },
                    {
                        value: '蛋類',
                        label: '蛋類',
                    },
                    {
                        value: '肉類',
                        label: '肉類',
                    },
                    {
                        value: '魚貝類',
                        label: '魚貝類',
                    },
                    {
                        value: '加工調理食品及其他類',
                        label: '加工調理食品及其他類',
                    },
                    {
                        value: '飲料類',
                        label: '飲料類',
                    },
                    {
                        value: '澱粉類',
                        label: '澱粉類',
                    },
                    {
                        value: '糖類',
                        label: '糖類',
                    },
                    {
                        value: '糕餅點心類',
                        label: '糕餅點心類',
                    },
                    {
                        value: '調味料及香辛料類',
                        label: '調味料及香辛料類',
                    },
                ],
                // 使用者新增的食物資訊會存在這邊
                newFoodData: {
                    name: '',
                    category: '',
                    buyDate: null,
                    expDate: null,
                    quantity: 0,
                },

                // 編輯模式下顯示數量欄位用
                showEditMode: [],
                deleteDataIndex: {
                    stockId: '',
                },

            }
        },
        // 當網頁載入完成後會被Vue框架呼叫
        mounted() {
            this.onGet();
            this.onSearch();
            this.searchExpFood();
            this.showExpiredFoodPopup();
        },
        // 網頁要用的方法寫在這裡
        methods: {
            onGet() {
                // 打API
                // axios.get("/foods")
                axios.get('/foods?page=' + this.currentPage + '&count=' + this.pageSize + "&expDateSortMode=" + this.expDateArrowMode)
                    .then((response) => {
                        // get完成後收到的資料可以在這裡處理
                        console.log(response);
                        // 將API的商品資料存到Vue建立的products變數
                        if (response.data.code == 0) {
                            // 將API拿到的data存到Vue變數
                            this.total = response.data.data.total;
                            this.foods = response.data.data.foods;
                        } else if (response.data.code == 9) { // 未登入
                            location.href = "/index.html";
                        }
                    })
                    .catch((error) => {
                        console.log(error);
                    });
            },
            // 新增資料
            onAdd() {
                // 將新增資料的對話盒顯示出來
                console.log(JSON.stringify(this.newFoodData));

                // 打API將資料送到後端
                axios.post('/addfood', this.newFoodData)
                    .then((response) => {
                        console.log(response);
                        if (response.data.code == 0) {
                            this.$message.success('新增成功');
                            this.showAddFoodModal = false;
                            this.onGet();
                            //this.showEditMode[index] = false;

                        }
                    })
                    .catch((error) => {
                        console.log(error);
                        // 新增失敗

                        this.$message.error('新增失敗');
                    });

            },
            // 蔬果名稱被點擊時呼叫的方法
            onShowFoodDetail(food_id) {
                // 顯示食品詳細資訊的對話盒
                this.showFoodDetail = true;
                // alert('id=' + food_id + '被點擊了');

                axios.get("/foodDetail?id=" + food_id)
                    .then((response) => {
                        // get完成後收到的資料可以在這裡處理
                        console.log(response);
                        // 將API的商品資料存到Vue建立的products變數
                        if (response.data.code == 0) {
                            // 將API拿到的data存到Vue變數
                            this.foodDetail = response.data.data;
                        }
                    })
                    .catch((error) => {
                        console.log(error);
                    });
            },
            // 編輯資料
            onUpdate(index) {
                // 將新增資料的對話盒顯示出來
                console.log(JSON.stringify(this.foods[index]));

                // 打API將資料送到後端
                axios.put('/food', this.foods[index])
                    .then((response) => {
                        console.log(response);
                        if (response.data.code == 0) {
                            this.$message.success('更新成功');
                            this.showEditMode[index] = false;
                            this.onGet();
                        }
                    })
                    .catch((error) => {
                        console.log(error);
                        // 新增失敗

                        this.$message.error('更新失敗');
                    });
            },
            // 刪除資料
            onDelete(stockId) {
                this.deleteDataIndex.stockId = stockId;
                console.log(JSON.stringify(this.deleteDataIndex));
                //打API將資料送到後端
                axios.delete('/delfood', {data: this.deleteDataIndex}, {
                    headers: {
                        'Content-Type': 'application/json',
                    }
                })
                    .then((response) => {
                        console.log(response);
                        if (response.data.code == 0) {
                            this.$message.success('刪除成功');
                            this.onGet()
                        }
                    })
                    .catch((error) => {
                        console.log(error);

                        this.$message.error('刪除失敗');
                    })
            },
            // 搜尋資料
            onSearch() {
                // 打API要搜尋資料
                // 打API
                axios.get('/food', {
                  params: {
                    name: this.keyword,
                    page: this.currentPage,
                    count: this.pageSize,
                    expDateSortMode: this.expDateArrowMode
                  }
                })
                    .then((response) => {
                        // get完成後收到的資料可以在這裡處理
                        console.log(response);
                        // 將API的商品資料存到Vue建立的products變數
                        if (response.data.code == 0) {
                            // 將API拿到的data存到Vue變數
                            this.total = response.data.data.total;
                            this.foods = response.data.data.foods;
                        }
                    })
                    .catch((error) => {
                        console.log(error);
                    });
            },

            //過期食物通知
            searchExpFood() {
                // Modify the API URL to match the new backend endpoint for expfood
                axios.get('/expfood', {
                    params: {
                        page: this.currentPage,
                        count: this.pageSize,
                        expDateSortMode: this.expDateArrowMode
                    }
                })
                    .then((response) => {
                        // get完成後收到的資料可以在這裡處理
                        console.log(response);
                        // 將API的商品資料存到Vue建立的products變數
                        if (response.data.code === 0) {
                            // 將API拿到的data存到Vue變數
                            this.total = response.data.data.total;
                            this.foods = response.data.data.foods;
                        }
                    })
                    .catch((error) => {
                        console.log(error);
                    });
            },

            // Add this method to check for expired foods and show the popup
            showExpiredFoodPopup() {
                // Filter the foods list to find expired foods
                const currentDate = new Date();
                this.expiredFoods = this.foods.filter(food => {
                    return new Date(food.expDate) <= currentDate;
                });

                // If there are expired foods, show the popup
                if (this.expiredFoods.length > 0) {
                    this.showPopup = true;
                }
            },

            // Add this method to close the popup
            closePopup() {
                this.showPopup = false;
            },


            onSizeChange(size) {
                this.currentPage = 1;

                if (this.keyword.length > 0) {
                    this.onSearch();
                } else
                    this.onGet();
            },
            onCurrentChange() {
                if (this.keyword.length > 0) {
                    this.onSearch();
                } else
                    this.onGet();
            },
            // 分頁被點擊了上一頁
            onPrevClick(page) {
            },
            // 分頁被點擊了下一頁
            onNextClick(page) {
            },

            // 改變編號排序模式
            onChangeExpDateMode() {
                this.currentPage = 1;

                if (this.expDateArrowMode === 0) {
                    this.expDateArrowMode = 1; // 改為降序排序
                } else {
                    this.expDateArrowMode = 0; // 改為升序排序
                }

                // 重新打API排序
                if (this.keyword.length > 0) {
                    this.onSearch();
                } else
                    this.onGet();
            },
        }
        // ,
        //搜尋功能
        // remoteMethod(query) {
        //   console.log('call remoteMoethod: ' + query);
        //   if (query) {
        //   axios.get("/food/name?keyword=" + query)
        //     .then((response) => {
        //         this.nameoptions = [];
        //         console.log(response.data);
        //      if (response.data.code == 0) {
        //         for (let v of response.data.data) {
        //         this.nameoptions.push({
        //         namevalue: v,
        //         label: v,
        //         });
        //         }
        //         console.log(this.nameoptions);
        //     }
        //     })
        //     .catch((error) => {
        //         console.log(error);
        //     });
        //   } else {
        //     this.nameoptions = [];
        //   }
        // }
        //}
    }).use(ElementPlus).mount('#app')
</script>

</html>