<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>食物管理</title>
  <link rel="stylesheet" href="food-style.css">
  <link rel="stylesheet" href="foodDetail-style.css">

  <!-- 引入axios套件，用來透過HTTP協定在網頁內呼叫後端的API -->
  <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>

  <!-- 引入Vue.js -->
  <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
</head>

<body id="app">
  <div class="btn" @click="onAdd">新增</div>
  
  <table>
    <thead>
      <tr>
        <th>名稱</th>
        <th>類別</th>
        <th>採購日</th>
        <th>到期日</th>
        <th>數量</th>
      </tr>
      <thead>
      <tbody>
        <tr v-for="item in foods">
          <td @click="onShowDetail(item.id)" class="can-click">{{ item.name }}</td>
          <td>{{ item.category }}</td>
          <td>{{ item.buyDate }}</td>
          <td>{{ item.expDate }}</td>
          <td>{{ item.quantity }}</td>
        </tr>
      </tbody>
  </table>
  <blockquote> Responsive Table </blockquote>

  <!-- 對話盒的淡黑色背景 -->
  <div v-if="showFoodDetailModal" class="mask"></div>

  <!-- 這是對話視窗的開始 -->
  <div v-if="showFoodDetailModal" class="table">
    <h2 class="heading">
      {{ foodDetail.name }}
    </h2>
    <div class="blockTitle">
      <p>類別
        <span class="price">{{ foodDetail.category }}
          <sub></sub>
        </span>
        <ul class="options">
            <li>(每百克食物含量)</li>
        </ul>
      </p>
    </div>
    <div class="block">
      <p>熱量
        <span class="price">{{ foodDetail.calories}}
          <sub>卡</sub>
        </span>
        <ul class="options">
          <li>根據衛服部國民健康署建議，體重正常者，每日熱量需求為體重(kg) * 30大卡(輕度活動) / 35大卡(中度活動) / 40大卡(重度活動)。</li>
        </ul>
        </p>
    </div>
    <div class="block">
      <p>蛋白質
        <span class="price">{{ foodDetail.protein }}
          <sub>克</sub>
        </span>
      <ul class="options">
        <li>指粗蛋白crude protein。</li>
      </ul>
      </p>
    </div>
    <div class="block">
      <p>飽和脂肪
        <span class="price">{{ foodDetail.saturatedFat }}
          <sub>克</sub>
        </span>
      <ul class="options">
        <li>一般認為飲食中比例較高的飽和脂肪酸會增加心血管疾病和中風的風險，但是近年來有越來越多研究顯示，飽和脂肪酸有降低體脂和心血管疾病發病率的作用。</li>
      </ul>
      </p>
    </div>
    <div class="block">
      <p>總碳水化合物
        <span class="price">{{ foodDetail.totalCarbohydrates }}
          <sub>克</sub>
        </span>
      <ul class="options">
        <li>碳水化合物即醣類。醣類的眾多衍生物與免疫系統、預防疾病、血液凝固和生長等有極大的關聯。</li>
      </ul>
      </p>
    </div>
    <div class="block">
      <p>膳食纖維
        <span class="price">{{ foodDetail.dietaryFiber }}
          <sub>克</sub>
        </span>
      <ul class="options">
        <li>根據世界衛生組織建議，每人每天攝入25g-35g膳食纖維，有助於預防心血管疾病、糖尿病及其他一系列健康問題。</li>
      </ul>
      </p>
    </div>
    <button class="btn">
      <p @click="showFoodDetailModal = false">關閉</p>
    </button>
  </div>
  <!-- 這是對話視窗的結束 -->

</body>

<script>
  // Vue初始化
  const { createApp } = Vue

  createApp({
    data() {
      // 網頁要使用的變數放這裡
      return {
        message: 'Hello Vue!',
        foods: [],
        foodDetail: {},
        showFoodDetailModal: false,
      }
    },
    // 當網頁載入完成後會被Vue框架呼叫
    mounted() {
      // 打API
      axios.get("/foods")
        .then((response) => {
          // get完成後收到的資料可以在這裡處理
          console.log(response);
          // 將API的商品資料存到Vue建立的products變數
          if (response.data.code == 0) {
            // 將API拿到的data存到Vue變數
            this.foods = response.data.data;
          }
        })
        .catch((error) => {
          console.log(error);
        });
    },
    // 網頁要用的方法寫在這裡
    methods: {
      // 新增資料
      onAdd() {
        alert('新增資料');
      },
      // 蔬果名稱被點擊時呼叫的方法
      onShowDetail(food_id) {
        // 顯示食品詳細資訊的對話盒
        this.showFoodDetailModal = true;
        // alert('id=' + food_id + '被點擊了');

        axios.get("/foodDetail?id=" + food_id)
        .then((response) => {
          // get完成後收到的資料可以在這裡處理
          console.log(response);
          // 將API的商品資料存到Vue建立的products變數
          if (response.data.code == 0) {
            // 將API拿到的data存到Vue變數
            this.foodDetail = response.data.data;
          }
        })
        .catch((error) => {
          console.log(error);
        });
      }
    }
  }).mount('#app')
</script>

</html>