<!DOCTYPE html>
<html lang="zh-TW" xmlns="http://www.w3.org/1999/html">

<head>
    <meta charset="utf-8">
    <title>採購清單</title>

    <!-- 這是banner的CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">
    <link rel="stylesheet" href="css/banner-new.css">

    <!-- 這是表格的CSS -->
    <link rel="stylesheet" href="css/food-style.css">
    <link rel="stylesheet" href="css/foodDetail-style.css">
    <link rel="stylesheet" href="css/addFood.css">

    <!-- 這是按鍵的CSS -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />

    <!-- 引入axios套件，用來透過HTTP協定在網頁內呼叫後端的API -->
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>

    <!-- 引入Vue.js -->
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>

    <!-- 引入Element UI介面庫-->
    <!-- Import style -->
    <link rel="stylesheet" href="//unpkg.com/element-plus/dist/index.css" />
    <!-- Import Vue 3 -->
    <script src="//unpkg.com/vue@3"></script>
    <!-- Import component library -->
    <script src="//unpkg.com/element-plus"></script>
    <link rel="stylesheet" href="css/demo-remote-select.css" />
</head>

<body id="app" style="padding-top: 0; padding-left: 0; padding-right: 0;">

<!-- 橫式選單 -->
<header class="header" role="banner">
    <div class="d-lg-flex half"><a href="/" class="home-btn" style="text-decoration: none;">
        <div class="bg order-1 order-md-2" style="background-image: url('images/bg_1.jpg');"></div>
        <div class="contents order-2 order-md-1">
            <div class="container">
                <div class="row align-items-center justify-content-center">
                    <div class="col-md-7" style="margin-left: 240px;">
                        <h3><strong>Squirrel Factory</strong></h3>
                        <h3><strong>松鼠儲藏室</strong></h3>
                        <p class="mb-4" style="font-size: smaller; color: gray">協助您管理家裡食物庫存的小幫手</p>
                    </div></div></div></div>
    </a></div>
    <div class="bannercontainer">
        <nav><ul>
            <li><a href="/">登入畫面</a></li>
            <li><a href="/foods.html">食物庫存</a></li>
            <li><a href="/fooddetaillist.html">營養資訊</a></li>
            <li class="active"><a href="tobuy.htmls">採購清單</a></li>
        </ul></nav>
    </div>
</header>

<!-- 搜尋列start -->
<form style="margin-left: 300px; margin-top: 20px;" v-on:submit.prevent="onSearch" autocomplete="off">
    <label for="search">Search </label>
    <input id="search" type="search" v-model="keyword">
    <span class="caret"></span>
</form>
<!-- 搜尋列end -->

<!-- 新增按鈕 -->
<div class="container">
    <el-button type="warning" class="btn" @click="showAddFoodTobuyModal = true">新增</el-button>
    <!-- 表格start -->
    <table>
        <thead>
        <tr>
            <th>編號</th>
            <th>名稱</th>
            <th style="display: flex; height: 60px; align-items: center; justify-content: center;"
                @click="onChangeTobuyDateMode">
                採購日
                <div :class="[tobuyDateArrowMode === 0 ? '' : 'arrow-down']">⯅</div>
            </th>
            <th>變更</th>
        </tr>
        </thead>
        <tbody>
        <tr v-for="(item, index) in foods">
            <td>{{ item.tobuyId }}</td>
            <td>{{ item.name }}</td>
            <td>
                <div v-if="!showEditMode[index]">{{ item.tobuyDate }}</div>
                <el-date-picker v-else v-model="foods[index].tobuyDate" type="date=" placeholder="Pick a day"
                                :size="size"/>
            </td>
            <td>
          <span v-if="!showEditMode[index]" class="material-symbols-outlined" @click="showEditMode[index] = true">
            edit_note
          </span>
                <span @click="onDelete(item.tobuyId)" v-if="!showEditMode[index]" class="material-symbols-outlined">
            delete
          </span>
                <span v-if="showEditMode[index]" class="material-symbols-outlined" @click="onUpdate(index)">
            確定
          </span>
                <span v-if="showEditMode[index]" class="material-symbols-outlined" @click="showEditMode[index] = false">
            取消
          </span>
            </td>
        </tr>
        </tbody>
    </table>
</div>


<!-- @size-change事件: 重新打API要資料，把目前頁數設定回第一頁-->
<el-pagination background layout="prev, pager, next, sizes"
               :total="total"
               :page-sizes="[12, 24, 50, 100]"
               style="justify-content: center;"
               @size-change="onSizeChange"
               @current-change="onCurrentChange"
               @prev-click="onPrevClick"
               @next-click="onNextClick"
               v-model:current-page="currentPage"
               v-model:page-size="pageSize" />
<!-- @size-change事件-->

</body>


<script>
    // Vue初始化
    const { createApp } = Vue

    createApp({
        data() {
            // 網頁要使用的變數放這裡
            return {
                message: 'Hello Vue!',
                foods: [],
                foodDetail: {},
                showFoodDetail: false,
                showAddFoodTobuyModal: false,
                // nameoptions:[],
                // loading: false,
                // showResult: false,

                //分頁使用的變數
                currentPage: 1,  // 目前在哪一頁
                pageSize: 12,
                total: 0,
                tobuyDateArrowMode: 0, // 0=不排序, 1=由大到小, 2=由小到大

                keyword: '',

                // 使用者的選擇種類會存在這邊
                //categoryValue: '種類',
                options: [
                    {
                        value: '水果類',
                        label: '水果類',
                    },
                    {
                        value: '蔬菜類',
                        label: '蔬菜類',
                    },
                    {
                        value: '豆類',
                        label: '豆類',
                    },
                    {
                        value: '菇類',
                        label: '菇類',
                    },
                    {
                        value: '堅果及種子類',
                        label: '堅果及種子類',
                    },
                    {
                        value: '穀物類',
                        label: '穀物類',
                    },
                    {
                        value: '油脂類',
                        label: '油脂類',
                    },
                    {
                        value: '藻類',
                        label: '藻類',
                    },
                    {
                        value: '乳品類',
                        label: '乳品類',
                    },
                    {
                        value: '蛋類',
                        label: '蛋類',
                    },
                    {
                        value: '肉類',
                        label: '肉類',
                    },
                    {
                        value: '魚貝類',
                        label: '魚貝類',
                    },
                    {
                        value: '加工調理食品及其他類',
                        label: '加工調理食品及其他類',
                    },
                    {
                        value: '飲料類',
                        label: '飲料類',
                    },
                    {
                        value: '澱粉類',
                        label: '澱粉類',
                    },
                    {
                        value: '糖類',
                        label: '糖類',
                    },
                    {
                        value: '糕餅點心類',
                        label: '糕餅點心類',
                    },
                    {
                        value: '調味料及香辛料類',
                        label: '調味料及香辛料類',
                    },
                ],

                newFoodTobuyData: {
                    name: '',
                    tobuyDate: null,
                },

                // 編輯模式下顯示數量欄位用
                showEditMode: [],
                deleteDataIndex: {
                    tobuyId :'',
                },

            }
        },
        // 當網頁載入完成後會被Vue框架呼叫
        mounted() {
            this.onGet();
            this.onSearch();
        },
        // 網頁要用的方法寫在這裡
        methods: {
            onGet() {
                // 打API
                axios.get('/tobuy?page=' + this.currentPage + '&count=' + this.pageSize + "&tobuyDateSortMode=" + this.tobuyDateArrowMode)
                    .then((response) => {
                        // get完成後收到的資料可以在這裡處理
                        console.log(response);
                        // 將API的商品資料存到Vue建立的products變數
                        if (response.data.code == 0) {
                            // 將API拿到的data存到Vue變數
                            this.total = response.data.data.total;
                            this.foods = response.data.data.foods;
                        }else if(response.data.code == 9) { // 未登入
                            location.href = "/index.html";
                        }
                    })
                    .catch((error) => {
                        console.log(error);
                    });
            },
            // 新增資料
            onAdd() {
                // 將新增資料的對話盒顯示出來
                console.log(JSON.stringify(this.newFoodTobuyData));

                // 打API將資料送到後端
                axios.post('/addtobuy', this.newFoodTobuyData)
                    .then((response) => {
                        console.log(response);
                        if (response.data.code == 0) {
                            this.$message.success('新增成功');
                            this.showAddFoodTobuyModal = false;
                            this.onGet();
                            //this.showEditMode[index] = false;

                        }
                    })
                    .catch((error) => {
                        console.log(error);
                        // 新增失敗

                        this.$message.error('新增失敗');
                    });

            },
            onUpdate(index) {
                // 將新增資料的對話盒顯示出來
                console.log(JSON.stringify(this.foods[index]));

                // 打API將資料送到後端
                axios.put('/updatetobuy', this.foods[index])
                    .then((response) => {
                        console.log(response);
                        if (response.data.code == 0) {
                            this.$message.success('更新成功');
                            this.showEditMode[index] = false;
                            this.onGet();
                        }
                    })
                    .catch((error) => {
                        console.log(error);
                        // 新增失敗

                        this.$message.error('更新失敗');
                    });
            },
            onDelete(tobuyId) {
                this.deleteDataIndex.tobuyId = tobuyId;
                console.log(JSON.stringify(this.deleteDataIndex));
                //打API將資料送到後端
                axios.delete('/deltobuy', {data: this.deleteDataIndex }, {
                    headers: {
                        'Content-Type': 'application/json',
                    }})
                    .then((response) => {
                        console.log(response);
                        if (response.data.code == 0) {
                            this.$message.success('刪除成功');
                            this.onGet()
                        }
                    })
                    .catch((error) => {
                        console.log(error);

                        this.$message.error('刪除失敗');
                    })
            },

            // 搜尋資料
            onSearch() {
                // 打API要搜尋資料
                // 打API
                axios.get('/searchtobuy', {
                    params: {
                        name: this.keyword,
                        page: this.currentPage,
                        count: this.pageSize,
                        tobuyDateSortMode: this.tobuyDateArrowMode
                    }
                })
                    .then((response) => {
                        // get完成後收到的資料可以在這裡處理
                        console.log(response);
                        // 將API的商品資料存到Vue建立的products變數
                        if (response.data.code == 0) {
                            // 將API拿到的data存到Vue變數
                            this.total = response.data.data.total;
                            this.foods = response.data.data.foods;
                        }
                    })
                    .catch((error) => {
                        console.log(error);
                    });
            },

            onSizeChange(size) {
                this.currentPage = 1;

                if (this.keyword.length > 0) {
                    this.onSearch();
                } else
                    this.onGet();
            },
            onCurrentChange() {
                if (this.keyword.length > 0) {
                    this.onSearch();
                } else
                    this.onGet();
            },
            // 分頁被點擊了上一頁
            onPrevClick(page) {

            },
            // 分頁被點擊了下一頁
            onNextClick(page) {

            },
            // 改變編號排序模式
            onChangeTobuyDateMode() {
                this.currentPage = 1;

                if (this.tobuyDateArrowMode === 0) {
                    this.tobuyDateArrowMode = 1; // 改為降序排序
                } else {
                    this.tobuyDateArrowMode = 0; // 改為升序排序
                }

                // 重新打API排序
                if (this.keyword.length > 0) {
                    this.onSearch();
                } else
                    this.onGet();

            },
        }
    }).use(ElementPlus).mount('#app')
</script>


</html>