table {
  border-spacing: 1;
  border-collapse: collapse;
  background: white;
  border-radius: 6px;
  overflow: hidden;
  width: 100%;
  margin: 0 auto;
  position: relative;
}
table * {
  position: relative;
}
table td, table th {
  padding-left: 8px;
}
table thead tr {
  height: 60px;
  background: #FFED86;
  font-size: 16px;
  text-align: center;
}
table tbody tr {
  height: 48px;
  border-bottom: 1px solid #E3F1D5;
}
table tbody tr:last-child {
  border: 0;
}
table td, table th {
  text-align: left;
}
table td.l, table th.l {
  text-align: right;
}
table td.c, table th.c {
  text-align: center;
}
table td.r, table th.r {
  text-align: center;
}

.container {
  padding: 20px;
  margin: 0 auto;
  width: 100%;
  max-width: 1200px;  
}

.btn {
  display: flex;
  width: 120px;
  height: 36px;
  background-color: #9BC86A;
  color: white;
  margin-bottom: 15px;
  align-items: center;
  justify-content: center;
  font-size: 16px;
  border-radius: 10px;
}

.btn:hover {
  background-color: #E3F1D5;
  color: black;
}

@media screen and (max-width: 35.5em) {
  table {
    display: block;
  }
  table > *, table tr, table td, table th {
    display: block;
  }
  table thead {
    display: none;
  }
  table tbody tr {
    height: auto;
    padding: 8px 0;
  }
  table tbody tr td {
    padding-left: 45%;
    margin-bottom: 12px;
  }
  table tbody tr td:last-child {
    margin-bottom: 0;
  }
  table tbody tr td:before {
    position: absolute;
    font-weight: 700;
    width: 40%;
    left: 10px;
    top: 0;
  }
  table tbody tr td:nth-child(1):before {
    content: "Code";
  }
  table tbody tr td:nth-child(2):before {
    content: "Stock";
  }
  table tbody tr td:nth-child(3):before {
    content: "Cap";
  }
  table tbody tr td:nth-child(4):before {
    content: "Inch";
  }
  table tbody tr td:nth-child(5):before {
    content: "Box Type";
  }
}
body {
  background-color: white;
  font: 400 14px 'Calibri','Arial';
  padding: 20px;
}

blockquote {
  color: white;
  text-align: center;
}

.material-symbols-outlined {

	cursor: pointer;
	border: 2px solid #777D46;	
  background-color:  #777D46;
  color: white; 
  margin:2px;
  border-radius: 6px;  
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 24
	}

.material-symbols-outlined:hover {
  border: 2px solid #777D46;
  background-color: #777D46;
  color: white;  
}

.header {
  display: flex;
  flex-direction: row;
  position: relative;
  
  width: 100%;
  justify-content: center;
  align-items: center;
}

.home-btn {
  text-decoration: none;
  color: inherit;
}

.arrow-down {
  transform: rotate(180deg);
}

